<header class="page-header">
  <%= link_to home_pages_path do %><%= image_tag "left-arrow.png", class: "nav-icon" %> <% end %>
<h2>Sign in</h2>
 <div class="action"><%= submit_tag "Next", form: "new_user" %></div>
</header>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
  </div>
<% end %>
